.calendar
  display: flex
  flex-direction: column
  padding-top: 220px
  padding-bottom: 120px
  box-sizing: border-box
  height: 100%
  position: relative
  background-color: $color-line
  overflow: auto

  +e('times')
    display: flex
    flex-direction: row
    margin: 20px 30px 5px 135px

  +e('time')
    width: 60px
    font-size: 13px
    flex-shrink: 0
    color: #787993
    //margin-right: 25px

  +e('cells')
    display: flex
    padding-right: 32px

  +e('room')
    position: sticky
    left: 32px
    width: 120px
    flex-shrink: 0
    padding: 10px
    box-sizing: border-box
    font-weight: 500
    +ts()
    backface-visibility: hidden

  +e('roomname')
    margin: 0
    font-size: 14px
    color: $color-navy
    +text-overflow()
    +ts()

  +e('seats')
    font-size: 13px
    color: #787993
    +text-overflow()
    +ts()

  +e('events')
    display: flex
    flex-direction: column
    margin-left: 32px
    position: relative

  +e('event')
    flex-shrink: 0
    width: 60px
    height: 60px
    background-color: $color-white
    box-sizing: border-box
    border: 1px solid #DFDFE4
    outline: none

    &:not(:last-of-type)
      border-right: none

    &:hover,
    &:focus
      position: relative
      background-color: $color-purple

      &::before,
      &::after
        content: ""
        +absolute-center()
        width: 10px
        height: 2px
        background-color: $color-white

      &::after
        transform: translate(-50%, -50%) rotate(90deg)


    //&:not(:last-of-type)
    //  margin-bottom: 24px

  +e('row')
    position: relative
    display: flex
    flex-shrink: 0

    &:not(:last-child)
      margin-bottom: 12px

    &:hover
      & .calendar__roomname
        color: $color-purple

    +m('small')

      &:hover
        & .calendar__roomname
          color: $color-green

      & .calendar__room
        pointer-events: none
        z-index: 1
        transform: translateX(-32px)

      & .calendar__roomname
        color: $color-green

      & .calendar__seats
        opacity: 0
        visibility: hidden

  +e('current')
    position: absolute
    top: -4px
    left: 120px
    width: 2px
    height: calc(100% + 4px)
    background-color: $color-purple
    z-index: 2
    box-shadow: 0 4px 6px 0 $color-purple-opacity
    +ts()
    backface-visibility: hidden

    &::before
      content: ""
      position: absolute
      width: 8px
      height: 8px
      background-color: $color-purple
      border-radius: 50%
      left: 0
      box-shadow: inherit
      +horizontal-center()
      top: 0
