.login
  +e('home')
    display: inline-block

  +e('title')
    font-size: 24px
    line-height: 1.1
    margin: 0 0 10px
    color: $color-navy

  +e('desc')
    font-size: 16px
    line-height: 1.6
    margin-bottom: 50px

  +e('link')
    position: relative

    &::before
      content: ''
      position: absolute
      left: 50%
      transform: translateX(-50%)
      bottom: -4px
      width: 100%
      height: 2px
      +ts()

    +m('purple')
      color: $color-purple

      &::before
        background-color: rgba(117, 64, 238, 0.15)

      &:hover::before
        background-color: $color-purple

    +m('orange')
      color: $color-orange

      &::before
        background-color: rgba(255, 112, 82, 0.15)

      &:hover::before
        background-color: $color-orange

  +e('input')
    width: 100%
    box-sizing: border-box
    font-size: 16px
    border: none
    border-bottom: 1px solid $color-lightgrey
    padding-bottom: 6px
    color: $color-grey-second
    +ts()

    &:hover
      border-color: $color-grey

      &::placeholder
        color: $color-grey

    &::placeholder
      color: $color-grey-second

  +e('group')
    position: relative
    margin-bottom: 40px

  +e('label')
    position: absolute
    left: 0

  +e('actions')
    display: flex
    justify-content: space-between
    align-items: center

  +e('btn')
    padding: 0 24px
    line-height: 42px
    background-color: rgba(117, 64, 238, 0.20)
    color: $color-purple
    +ts()
    border-radius: 23px

    &:hover
      background-color: $color-purple
      color: $color-white



