.login
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%,-50%)
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  height: 100%
  max-width: 312px
  margin: auto
  backface-visibility: hidden
  +ts()

  +e('home')
    margin-bottom: 60px

  +e('title')
    margin: 0 0 10px !important

  +e('desc')
    margin-bottom: 50px

  +e('group')
    position: relative
    margin-bottom: 40px

  +e('actions')
    display: flex
    justify-content: space-between
    align-items: center

  +e('form')
    margin-bottom: 120px

  +e('text')
    text-align: center

  +e('container')
    @media (orientation: landscape)
      padding: 50px 0

