.modal
  font-family: $font-family-project

  +m('new-event')
    margin: 0
    padding: 0
    height: 100%
    top: 0

    & .ant-modal-content
      height: 100%

    & .ant-modal-body
      height: 100%
      padding: 0

  +m('date')
    margin: 0
    padding: 0
    height: 100%
    top: 0
    display: flex
    align-items: flex-end

    & .ant-modal-content
      width: 100%
      height: 442px
      border-top-left-radius: 10px
      border-top-right-radius: 10px
      box-shadow: 0 -4px 20px 0 rgba(37, 38, 94, 0.1)

    & .ant-modal-body
      height: 100%
      padding: 25px 32px

    & .ant-calendar-picker
      visibility: hidden

  +e('container')
     height: 100%
     display: flex
     flex-direction: column

  +e('slider')
    margin-top: auto
    font-family: $font-family-project

    & .ant-slider-handle
      width: 8px
      height: 8px
      border-radius: 50%
      background-color: $color-white !important
      border: 4px solid $color-purple !important
      box-sizing: content-box
      margin-top: -7px

      &:focus
        box-shadow: 0 0 0 5px rgba(37, 38, 94, 0.1)

    & .ant-slider-track
      height: 2px
      background-color: $color-purple !important

    & .ant-slider-rail
      height: 2px

  +e('inner')
    display: flex
    align-items: center
    justify-content: center
    height: 100%
    padding: 32px

  +e('input')
    width: 100%
    font-size: 24px
    line-height: 40px
    font-weight: 500
    border: none
    outline: none
    caret-color: $color-grey-second
    color: #25265E

    padding-bottom: 29px

    &::placeholder
      color: #DFDFE4

  +e('form')
    width: 100%

  +e('group')
    padding: 0
    margin-bottom: 25px

  +e('legend')
    display: inline-block
    width: auto
    font-size: 14px
    font-weight: 500
    color: $color-grey-second

  +e('btn')
    width: 38px
    height: 38px
    position: relative
    border: 2px dashed #DFDFE4
    border-radius: 50%
    outline: none

    &::before,
    &::after
      content: ""
      +absolute-center
      background-color: #DFDFE4
      width: 16px
      height: 2px

    &::after
      transform: translate(-50%,-50%) rotate(90deg)

  +e('date')
    font-size: 16px
    font-weight: 500
    color: #DFDFE4
    outline: none
    position: relative

    &::before
      content: ""
      +vertical-center
      right: -20px
      width: 10px
      height: 6px
      background-repeat: no-repeat
      background-size: contain
      background-position: center
      background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6'%3E%3Cpath d='M4,0,0,4,4,8' transform='translate(1 5) rotate(-90)' fill='none' stroke='%23DFDFE4' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2'/%3E%3C/svg%3E")

  +e('radio')
    +visually-hidden

    +m('disabled')
      & ~ .modal__label
        filter: grayscale(100%)

        +ie()
          background-color: #efefef
          color: #898989

          &::after
            content: ""
            position: absolute
            left: 3px
            top: 3px
            width: 24px
            height: 24px
            border-radius: 50%
            background-position: center
            background-repeat: no-repeat
            background-size: 24px 24px
            z-index: 1
            background-color: rgba(137, 137, 137, 0.5)
            +ts()



  +e('wrap')
    display: flex
    flex-wrap: wrap

  +e('box')
    margin-bottom: 16px

    &:not(:last-child)
      margin-right: 16px

  +e('label')
    cursor: pointer
    user-select: none
    +ts()

    &:hover,
    &:focus
      box-shadow: 0 2px 10px 0 rgba(37, 38, 94, 0.2)

  +e('message')
    width: 100%
    font-weight: 500
    font-size: 16px
    line-height: 1.5
    min-height: 80px
    border: none
    border-bottom: 2px solid #DFDFE4
    outline: none
    caret-color: $color-grey-second
    color: #25265E

    &::placeholder
      color: #DFDFE4

  +e('submit')
    border-radius: 23px
    font-size: 16px
    line-height: 43px
    text-align: center
    font-weight: 500
    padding: 0 24px
    background-color: rgba(45, 199, 109, 0.1)
    color: $color-green
    outline: none

    +m('disabled')
      opacity: 0.3
      background-color: #DFDFE4
      cursor: not-allowed

  +e('holder')
    display: flex
    align-items: flex-start
    justify-content: flex-start

  +e('error')
    position: static
    padding-left: 20px
    font-size: 12px
