.modal
  font-family: $font-family-project

  +m('new-event')
    & .v--modal-box.v--modal
      display: flex
      min-height: 100%
      top: 0 !important
      margin-bottom: 0

  +m('date')
    & .v--modal-box.v--modal
      border-radius: 10px
      width: calc(100% - 20px) !important
      max-width: 400px
      min-height: 442px
      left: 50% !important
      top: 50% !important
      transform: translate(-50%, -50%)
      overflow: auto

      @media (orientation: landscape)
        min-height: auto

  +e('container')
     height: auto
     width: 100%
     min-height: 100%
     display: flex
     flex-direction: column
     box-sizing: border-box

     +m('padding')
       padding: 24px 32px

  +e('inner')
    display: flex
    flex-direction: column
    justify-content: center
    min-height: 100%
    padding: 32px
    box-sizing: border-box

  +e('input')
    width: 100%
    font-size: 24px
    line-height: 40px
    font-weight: 500
    border: none
    outline: none
    caret-color: $color-grey-second
    color: $color-navy

    padding-bottom: 29px

    &::placeholder
      color: $color-lightgrey
      +ts()

    &:hover
      &::placeholder
        color: $color-navy-opacity

  +e('form')
    width: 100%

  +e('group')
    padding: 0
    margin-bottom: 25px
    border: none

  +e('legend')
    display: inline-block
    width: auto
    font-size: 14px
    font-weight: 500
    color: $color-grey-second

  +e('btn')
    width: 38px
    height: 38px
    position: relative
    border: 2px dashed$color-lightgrey
    border-radius: 50%
    outline: none
    +ts()

    &::before,
    &::after
      content: ""
      +absolute-center
      background-color: $color-lightgrey
      width: 16px
      height: 2px
      +ts()
      backface-visibility: hidden

    &::after
      transform: translate(-50%,-50%) rotate(90deg)

    &:hover,
    &:focus
      border-color: $color-purple
      &::before,
      &::after
        background-color: $color-purple

  +e('date')
    font-size: 16px
    font-weight: 500
    color: $color-lightgrey
    outline: none
    position: relative
    +ts()

    & .simple-svg-wrapper
      +vertical-center
      right: -20px
      width: 10px
      height: 6px

      & svg path
        stroke: $color-lightgrey

    &:hover,
    &:focus
      color: $color-purple

      & .simple-svg-wrapper svg path
        stroke: $color-purple

    +m('selected')
      color: $color-purple

      & .simple-svg-wrapper svg path
        stroke: $color-purple


  +e('radio')
    +visually-hidden

    +m('disabled')
      & ~ .modal__label
        filter: grayscale(100%)

        +ie()
          background-color: #efefef
          color: #898989

          &::after
            content: ""
            position: absolute
            left: 3px
            top: 3px
            width: 24px
            height: 24px
            border-radius: 50%
            background-position: center
            background-repeat: no-repeat
            background-size: 24px 24px
            z-index: 1
            background-color: rgba(137, 137, 137, 0.5)
            +ts()

  +e('wrap')
    display: flex
    flex-wrap: wrap

  +e('box')
    margin-bottom: 16px

    &:not(:last-child)
      margin-right: 16px

  +e('label')
    cursor: pointer
    user-select: none
    +ts()

    &:hover,
    &:focus
      box-shadow: 0 3px 10px 0 $color-purple-opacity

  +e('message')
    width: 100%
    font-weight: 500
    padding: 0
    font-size: 16px
    line-height: 1.5
    min-height: 80px
    border: none
    border-bottom: 2px solid $color-lightgrey
    outline: none
    caret-color: $color-grey-second
    color: $color-navy

    &::placeholder
      color: $color-lightgrey

    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb
      width: 26px
      border-radius: 13px
      background-clip: padding-box
      border: 10px solid transparent

    &::-webkit-scrollbar-thumb
      box-shadow: inset 0 0 0 10px $color-lightgrey

  +e('submit')
    border-radius: 23px
    font-size: 16px
    line-height: 43px
    text-align: center
    font-weight: 500
    padding: 0 24px
    background-color: $color-green-opacity
    color: $color-green
    outline: none

    +m('disabled')
      opacity: 0.3
      background-color: $color-lightgrey
      cursor: not-allowed

  +e('holder')
    display: flex
    align-items: flex-start
    justify-content: flex-start

  +e('error')
    position: static
    padding-left: 20px
    font-size: 12px

  +e('calendar')
    //max-width: 300px
    width: 100%
    border: none
    box-sizing: border-box
    padding-top: 20px
    padding-bottom: 36px

    & .prev ~ span
      color: $color-purple

    & header .prev:not(.disabled):hover,
    & header .next:not(.disabled):hover,
    & header .up:not(.disabled):hover
      background-color: $color-purple-opacity

    & header .next:after
      border-left-color: $color-purple

    & header .prev:after
      border-right-color: $color-purple

    & .day__month_btn.up
      color: $color-purple

    & .cell:not(.blank):not(.disabled).day:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover
      border: none

    & .cell.selected
      background-color: transparent

    & .cell.day-header
      color: $color-purple

    & .cell.month,
    & .cell.year
      border: none
      background-color: transparent

      &:hover
        color: $color-purple
        border: none

    & .cell:not(.blank):not(.disabled).month:hover,
    & .cell:not(.blank):not(.disabled).year:hover
      border: none

    & .cell.selected:hover
      background-color: transparent

    & .cell.month.selected
      color: $color-purple

    & .cell.day.today
      color: $color-purple
      font-weight: 700

    & .cell.day
      font-weight: 500
      color: $color-navy
      font-size: 14px
      position: relative
      +ts()
      z-index: 1
      border: none
      user-select: none

      &::before
        content: ""
        +absolute-center
        border-radius: 50%
        width: 40px
        height: 40px
        background-color: $color-purple
        transform: translate(-50%,-50%) scale(0)
        transform-origin: center
        backface-visibility: hidden
        +ts()
        z-index: -1

      &:hover
        color: $color-white

        &::before
          transform: translate(-50%,-50%) scale(1)

      &.selected.day:not(.blank)
        background-color: transparent
        color: $color-white

        &::before
          transform: translate(-50%,-50%) scale(1)

        &:hover
          background-color: transparent

    & .cell.blank
      visibility: hidden

  +e('slider')
    width: calc(100% - 20px) !important
    margin: auto auto 10px

    & .vue-slider-process
      background-color: $color-purple

    & .vue-slider-dot-tooltip-inner
      background-color: transparent
      color: $color-grey-second
      font-size: 12px
      cursor: pointer

    & .vue-slider-dot-tooltip-inner-top::after,
    & .vue-slider-dot-tooltip-inner-bottom::after
      display: none

    & .vue-slider-dot-tooltip-top
      top: -2px

    & .vue-slider-dot-tooltip-bottom
      bottom: -2px

    & .vue-slider-dot-handle-focus
      box-shadow: 0 0 1px 2px $color-purple-opacity

    & .vue-slider-mark-step
      display: block !important
      width: 6px
      height: 6px
      top: -2px
      background-color: $color-lightgrey

    & .vue-slider-mark-step-active
      background-color: $color-purple

    & .vue-slider-rail
      background-color: $color-lightgrey

    & .vue-slider-mark-label
      display: none

    & .vue-slider-dot
      width: 8px !important
      height: 8px !important
      background-color: $color-white
      border-radius: 50%
      border: 4px solid $color-purple

  +e('close')
    width: 30px
    height: 30px
    position: absolute
    top: 20px
    right: 30px
    z-index: 1
    outline: none

    &::before,
    &::after
      content: ""
      +absolute-center
      width: 50%
      height: 2px
      background-color: $color-navy
      +ts()

    &::after
      transform: translate(-50%,-50%) rotate(45deg)

    &::before
      transform: translate(-50%,-50%) rotate(-45deg)

    &:hover
      &::before,
      &::after
        background-color: $color-purple

    +m('arrow')
      width: 25px
      height: 12px
      top: auto
      right: auto
      position: static
      margin-bottom: 22px
      backface-visibility: hidden
      +ts()

      &::before,
      &::after
        display: none

      &:hover,
      &:focus
        transform: translateX(-5px)

  +e('select')
    margin: 16px 0

    & .vs__open-indicator
      fill: #DFDFE4

    & .vs__deselect svg
      +ts()

    & .vs__deselect:hover svg
      fill: $color-purple

    & .vs__dropdown-toggle
      min-height: 58px
      padding: 14px 0
      border: none
      border-bottom: 1px solid $color-lightgrey
      border-radius: 0

    & .vs__selected-options
      padding: 0

    & .vs__search
      padding: 0
      border: none
      margin: 0

      &::-webkit-search-cancel-button
        appearance: none

      &::placeholder
        color: $color-lightgrey
        font-size: 16px
        font-weight: 500

    & .vs__selected
      background-color: transparent
      border: none
      padding: 0
      margin: 0 10px 0 0
      margin-bottom: 5px

      & img
        border-radius: 50%
        border: 1px solid $color-purple

    & .vs__dropdown-menu
      padding: 0

      & .modal__option
        display: flex
        align-items: center

        & img
          margin-right: 10px
          border-radius: 50%
          border: 1px solid $color-purple
          +ts()

      & li
        padding: 10px
        color: $color-purple
        +ts()

      & li.vs__dropdown-option--selected
        color: $color-green

        & img
          border-color: $color-green

      & li.vs__dropdown-option--highlight
        background-color: $color-purple-opacity

  +e('person')
    display: flex

    &:not(:last-child)
      margin-bottom: 24px

  +e('name')
    margin: 0
    font-size: 14px
    font-weight: 500
    color: $color-navy

  +e('post')
    color: $color-grey-second
    font-size: 12px
    font-weight: 500

  +e('figure')
    margin-right: 12px

  +e('persons')
    padding-top: 14px

  +e('col')
    display: flex
    align-items: center
    width: 100%

  +e('state')
    margin-left: auto
    font-weight: 500
    font-size: 14px
    line-height: 28px
    padding-right: 10px
    padding-left: 24px
    position: relative
    border-radius: 14px
    height: 28px
    background-color: $color-purple-opacity
    color: $color-purple
    outline: none
    box-sizing: border-box
    padding-top: 2px
    +ts()

    &::before,
    &::after
      content: ""
      width: 12px
      height: 2px
      position: absolute
      background-color: $color-purple
      top: 13px
      left: 8px
      border-radius: 1px
      backface-visibility: hidden

    &::after
      transform: rotate(90deg)

    &:hover,
    &:focus
      box-shadow: 0 3px 10px 0 $color-purple-opacity

    +m('added')
      background-color: #E9F9F0
      color: $color-green

      &::before
        top: 8px
        left: 8px
        height: 12px
        background-color: transparent
        background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.5' height='12.5' viewBox='0 0 13.5 12.5'%3E%3Cpath d='M0,6.938,4.114,11,12,0' transform='translate(0.75 0.75)' fill='none' stroke='%232dc76d' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1.5'/%3E%3C/svg%3E")
        border-radius: 0
        background-size: contain
        background-repeat: no-repeat

      &::after
        display: none

  +e('box')
    display: flex
    flex-wrap: wrap
    align-items: center

  +e('selected-peoples')
    display: flex
    flex-wrap: wrap

  +e('selected-people')
    margin-right: 5px
    margin-bottom: 5px
