.body-lock
  position: fixed
  overflow: hidden

.wrapper
  height: 100%
  position: relative

.hidden
  transform: translate(-50%,-52%)
  opacity: 0
  visibility: hidden
  backface-visibility: hidden

@keyframes shake
  0%
    transform: translateX(0)
  1%
    transform: translateX(-3px)
  2%
    transform: translateX(5px)
  3%
    transform: translateX(-8px)
  4%
    transform: translateX(8px)
  5%
    transform: translateX(5px)
  6%
    transform: translateX(3px)
  7%
    transform: translateX(0)

.v--modal-overlay
  background-color: $color-navy-opacity

.v--modal
  box-shadow: none
  border-radius: initial

.v--modal-overlay .v--modal-box
  overflow: auto

.simple-svg-wrapper
  height: 100%
  +flex-center

  & svg path
    +ts()
