$screen-xs: 480px
$screen-sm: 660px
$screen-md: 800px
$screen-lg: 1024px
$screen-xl: 1280px

$font-size-body: 16px
$line-height-body: 1.5

$color-grey: #868697
$color-lightgrey: #DFDFE4
$color-white: #FFFFFF
$color-grey-second: #787993
$color-grey-border: #D8D8D8
$color-line: #F1F1F5

$color-navy: #25265E
$color-navy-opacity: rgb(37, 38, 94, 0.1)

$color-purple: #7540EE
$color-purple-opacity: rgba(117, 64, 238, 0.1)

$color-blue: #2F61D5
$color-blue-opacity: rgba(47, 97, 213, 0.1)

$color-lightblue: #3FB6DC
$color-lightblue-opacity: rgb(63, 182, 220, 0.1)

$color-green: #2DC76D
$color-green-opacity: rgb(45, 199, 109, 0.1)

$color-orange: #FF7052
$color-orange-opacity: rgba(255, 112, 82, 0.1)

$color-yellow: #FFC800
$color-yellow-opacity: rgb(255, 200, 0, 0.1)

$font-family-project: MaisonNeue

$system-ui: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'

$font-family-main: $font-family-project, $system-ui
